
    .dropdown-menu{
        background-color: $pale-bg;
        border: 0 none;
        border-radius: $border-radius-extreme;
        display: block;
        margin-top: 10px;
        padding: 0px;
        position: absolute;
        visibility: hidden;
        z-index: 9000;

        @include opacity(0);
        @include box-shadow($dropdown-shadow);

        .show &{
            @include opacity(1);
            visibility: visible;
        }
        .divider{
            background-color: $medium-pale-bg;
            margin: 0px;
        }

        .dropdown-header{
            color: $dark-gray;
            font-size: $font-size-small;
            padding: $padding-dropdown-vertical $padding-dropdown-horizontal;
        }

    //     the style for the dropdown menu that appears under select, it is different from the default one
        .select &{
           border-radius: $border-radius-bottom;
           @include box-shadow(none);
           @include transform-origin($select-coordinates);
           @include transform-scale(1);
           @include transition($fast-transition-time, $transition-linear);
           margin-top: -20px;
        }
        .select.show &{
            margin-top: -1px;
        }


        .dropdown-item{
           @include transition-none();
           padding: 0 !important;

        }
        .dropdown-item a{
            color: $font-color;
            font-size: $font-size-base;
            padding: 10px 45px 10px 15px;
            clear: both;
            white-space: nowrap;
            width: 100%;
            display: block;

           img{
               margin-top: -3px;
           }

        }
        .dropdown-item a:focus{
            outline: 0 !important;
        }

        .btn-group.select &{
            min-width: 100%;
        }

        .dropdown-item:first-child a,
        .dropdown-item:first-child{
           border-top-left-radius: $border-radius-extreme;
           border-top-right-radius: $border-radius-extreme;
        }

        .dropdown-item:last-child a,
        .dropdown-item:last-child{
            border-bottom-left-radius: $border-radius-extreme;
            border-bottom-right-radius: $border-radius-extreme;
        }

        .select & .dropdown-item:first-child a{
            border-radius: 0;
            border-bottom: 0 none;
        }

        .dropdown-item a:hover,
        .dropdown-item a:focus{
            background-color: $default-color;
            color: $fill-font-color;
            opacity: 1;
            text-decoration: none;

        }
        .dropdown-item:hover,
        .dropdown-item:focus{
            background-color: $default-color;
        }


        &.dropdown-primary .dropdown-item a:hover,
        &.dropdown-primary .dropdown-item a:focus{
            background-color: $primary-color;
        }
        &.dropdown-info .dropdown-item a:hover,
        &.dropdown-info .dropdown-item a:focus{
            background-color: $info-color;
        }
        &.dropdown-success .dropdown-item a:hover,
        &.dropdown-success .dropdown-item a:focus{
            background-color: $success-color;
        }
        &.dropdown-warning .dropdown-item a:hover,
        &.dropdown-warning .dropdown-item a:focus{
            background-color: $warning-color;
        }
        &.dropdown-danger .dropdown-item a:hover,
        &.dropdown-danger .dropdown-item a:focus{
            background-color: $danger-color;
        }

    }
    .dropdown-divider{
        margin: 0 !important;
    }
//fix bug for the select items in btn-group
.btn-group.select{
    overflow: hidden;
}
.btn-group.select.open{
    overflow: visible;
}

//  the style for opening dropdowns on mobile devices; for the desktop version check the _responsive.scss file
//  code from _responsive.scss

@media (min-width: 768px){
    .navbar-form {
        margin-top: 21px;
        margin-bottom: 21px;
        padding-left: 5px;
        padding-right: 5px;
    }
    .navbar-search-form{
        display: none;
    }
    .navbar-nav .dropdown-item .dropdown-menu,
    .dropdown .dropdown-menu{
        transform: translate3d(0px, -40px, 0px);
        transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1) 0s, opacity 0.3s ease 0s, height 0s linear 0.35s;

    }
    .navbar-nav .dropdown-item.show .dropdown-menu,
    .dropdown.show .dropdown-menu{
        transform: translate3d(0px, 0px, 0px);
        visibility: visible !important;
    }

    .bootstrap-datetimepicker-widget{
        visibility: visible !important;
        @include opacity(1);
    }

    .navbar-nav.navbar-right li .dropdown-menu:before,
    .navbar-nav.navbar-right li .dropdown-menu:after{
        left: auto;
        right: 12px;
    }


    .footer:not(.footer-big){
        nav ul{
           li:first-child{
             margin-left: 0;
           }
        }
    }

    body > .navbar-collapse.collapse{
        display: none !important;
    }
}

// Dropdown menu positioning
.navbar-nav .nav-item .dropdown-menu{
    border-radius: $border-radius-extreme;
    margin-top: -5px;
}

#navbar {
    .dropdown-menu {
        .dropdown-item{
            padding: 3px 1.5rem !important;
        }
    }
}
