
.nav {
    .nav-item{
        .nav-link:hover,
        .nav-link:focus{
            background-color: transparent;
        }
    }
}
.navbar{
    border: $none;
    font-size: $font-size-base;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    padding: 0;

    .navbar-brand{
        font-weight: $font-weight-bold;
        margin: $navbar-margin-brand;
        padding: $navbar-padding-brand;
        font-size: $font-size-large-navbar;
    }
    .navbar-nav{
        .nav-item .nav-link {
             line-height: 1.42857;
             margin: $navbar-margin-a;
             padding: $navbar-padding-a;
         }
        .nav-item .nav-link.btn{
             margin: $navbar-margin-a-btn;
             padding: $padding-base-vertical $padding-base-horizontal;
//              line-height: $line-height;
         }
        .nav-item .nav-link [class^="fa"]{
             font-size: $font-size-large + 1;
             position: relative;
             top: 1px;
        }
    }
    .btn{
       margin: $navbar-margin-btn;
       font-size: $font-size-base;
    }
    .btn-simple{
        font-size: $font-size-medium;
    }
    .caret{
       // @include center-item();
    }


}

// Dropdown menu positioning
.navbar-nav .nav-item .dropdown-menu{
    border-radius: $border-radius-extreme;
    margin-top: 30px;
}
.nav .nav-item .dropdown-menu{
    border-radius: $border-radius-extreme;
    margin-top: 45px;
}


.navbar-transparent, [class*="bg"]{
    .navbar-brand{
        color: $white-color;
        @include opacity(.9);

        &:focus,
        &:hover{
            background-color: transparent;
            @include opacity(1);
        }
    }

    .navbar-nav{
        .nav-item .nav-link:not(.btn){
            color: $white-color;
            border-color: $white-color;
            @include opacity(0.8);
        }
        .active .nav-link:not(.btn),
        .active .nav-link:hover:not(.btn),
        .active .nav-link:focus:not(.btn),
        .nav-item .nav-link:hover:not(.btn),
        .nav-item .nav-link:focus:not(.btn){
            background-color: transparent;
            border-radius: 3px;
            color: $white-color;
            @include opacity(1);
        }
        .nav .nav-item a.btn:hover{
            background-color: transparent;
        }

        .dropdown .nav-link .caret,
        .dropdown .nav-link:hover .caret,
        .dropdown .nav-link:focus .caret{
            border-bottom-color: $white-color;
            border-top-color: $white-color;
        }

        .open .nav-link,
        .open .nav-link:hover,
        .open .nav-link:focus {
            background-color: transparent;
            color: $white-color;
            @include opacity(1);
        }
    }

    .btn-default{
        color: $white-color;
        border-color: $white-color;
    }
    .btn-default.btn-fill{
        color: $dark-gray;
        background-color: $white-color;
        @include opacity(.9);
    }
    .btn-default.btn-fill:hover,
    .btn-default.btn-fill:focus,
    .btn-default.btn-fill:active,
    .btn-default.btn-fill.active,
    .open .dropdown-toggle.btn-fill.btn-default{
        border-color: $white-color;
        @include opacity(1);
    }

}
.navbar-transparent{
    .dropdown-menu .divider{
        background-color: rgba($white-color,.2);
    }
}

.nav-open .nav .caret{
    border-bottom-color: $white-color;
    border-top-color: $white-color;
}

.navbar-default {
    background-color: $bg-nude;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

    .brand{
        color: $font-color !important;
    }
    .navbar-nav{
        .nav-item .nav-link:not(.btn){
            color: $dark-gray;
        }

        .active .nav-link,
        .active .nav-link:not(.btn):hover,
        .active .nav-link:not(.btn):focus,
        .nav-item .nav-link:not(.btn):hover,
        .nav-item .nav-link:not(.btn):focus {
            background-color: transparent;
            border-radius: 3px;
            color: $info-color;
            @include opacity(1);
        }

        .dropdown .nav-link:hover .caret,
        .dropdown .nav-link:focus .caret {
            border-bottom-color: $info-color;
            border-top-color: $info-color;

        }

        .open .nav-link,
        .open .nav-link:hover,
        .open .nav-link:focus{
            background-color: transparent;
            color: $info-color;
        }

        .navbar-toggle:hover,.navbar-toggle:focus {
            background-color: transparent;
        }

    }

    &:not(.navbar-transparent) .btn-default:hover{
        color: $info-color;
        border-color: $info-color;
    }
    &:not(.navbar-transparent) .btn-neutral,
    &:not(.navbar-transparent) .btn-neutral:hover,
    &:not(.navbar-transparent) .btn-neutral:active{
            color: $dark-gray;
        }
}

/*      Navbar with icons            */

.navbar-icons{
    &.navbar .navbar-brand{
        margin-top: 12px;
        margin-bottom: 12px;
    }
    .navbar-nav{
        .nav-item .nav-link{
            text-align: center;
            padding: $navbar-padding-a-icons;
            margin: $navbar-margin-a-icons;
        }

        [class^="pe"] {
            font-size: 30px;
            position: relative;
        }
        p {
            margin: 3px 0 0;
        }
    }
}

.navbar-form{
   @include box-shadow(none);
   .form-control{
        @include light-form();
        height: 22px;
        font-size: $font-size-navbar;
        line-height: $line-height-general;
        color: $light-gray;
    }
    .navbar-transparent & .form-control,
    [class*="bg"] & .form-control{
        color: $white-color;
        border: $none;
        border-bottom: 1px solid rgba($white-color,.6);
    }

}

.navbar-toggle{
    margin-top: 19px;
    margin-bottom: 19px;
    border: $none;

    .icon-bar {
        background-color: $white-color;
    }
     .navbar-collapse,
     .navbar-form {
        border-color: transparent;
    }

    &.navbar-default .navbar-toggle:hover,
    &.navbar-default .navbar-toggle:focus {
        background-color: transparent;
    }
}

// stefan making edits

.navbar-light .navbar-nav .nav-link:hover{
    color: $light-gray;
}
.dropdown-item:focus,
.dropdown-item:hover{
    color: $white-color;
    background-color: $info-color;
}
.red{
    color: #ff0000;
}
.collapse .navbar-text{
    line-height: 55px;
}
.dropdown-menu-right{
    right: -2px;
    left: auto;

}
.dropdown-danger .dropdown-item:hover,
.dropdown-danger .dropdown-item:focus
{
    background-color: #EB5E28 !important;
}

.navbar-default .navbar-brand{
    color: $default-color;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus{
    color: #5e5e5e;
}

//menu bars

.navbar-nav > li > .dropdown-menu, .dropdown .dropdown-menu{
    transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1) 0s, opacity 0.3s ease 0s, height 0s linear 0.35s;
}
