.btn-twitter{
    color: $social-twitter;

    &:hover,
    &:focus,
    &:active{
        color: $social-twitter;
    }
}

.btn-facebook{
    color: $social-facebook;

    &:hover,
    &:focus,
    &:active{
        color: $social-facebook;
    }
}

.btn-google{
    color: $social-google;

    &:hover,
    &:focus,
    &:active{
        color: $social-google;
    }
}

.btn-linkedin{
    color: $social-linkedin;

    &:hover,
    &:focus,
    &:active{
        color: $social-linkedin;
    }
}
