.landing-alert {
  margin-bottom: 0; }

.page-header {
  background-color: #B2AFAB;
  background-position: center center;
  background-size: cover;
  min-height: 100vh;
  max-height: 999px;
  overflow: hidden;
  position: relative;
  width: 100%;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center; }
  .page-header .filter::after {
    background-color: rgba(0, 0, 0, 0.5);
    content: "";
    display: block;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
    z-index: 1; }
  .page-header.page-header-small {
    min-height: 65vh !important;
    max-height: 700px; }

.page-header .motto {
  text-align: left;
  z-index: 3;
  color: #fff;
  position: relative; }

.landing-section {
  padding: 100px 0;
  z-index: 1; }

.section-buttons {
  z-index: 1; }

.landing-section .btn-simple {
  padding: 0; }

.landing-section .column {
  padding: 0 75px 0 25px; }

.team-player .img-circle, .team-player .img-thumbnail {
  display: block;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 120px; }

.contact-form {
  margin-top: 30px; }

.contact-form label {
  margin-top: 15px; }

.contact-form .btn {
  margin-top: 30px; }

.navbar-relative {
  position: relative;
  z-index: 2; }

#register-navbar a {
  color: #FFF; }

.register-background .container {
  margin-top: 11%;
  position: relative;
  z-index: 3; }

.register-footer {
  bottom: 20px;
  color: #fff;
  position: absolute;
  z-index: 3;
  width: 100%; }

.register-footer .fa-heart {
  color: #EB5E28; }

.register-card label {
  margin-top: 15px; }

.register-card .title {
  color: #B33C12;
  text-align: center; }

.register-card .btn {
  margin-top: 30px; }

.register-card .forgot {
  text-align: center; }

.profile-content {
  position: relative; }

.owner .avatar {
  margin-top: -85px;
  padding: 15px;
  position: relative;
  z-index: 3; }

.owner .name h4 {
  margin-top: 10px; }

.profile-tabs {
  margin: 50px 0;
  min-height: 300px; }

#following h3 {
  margin: 20px 0 40px 0; }

.profile-content .tab-content .tab-pane.active {
  height: 200px; }

.follows .unfollow {
  width: 15px; }

#follows .follows .unfollow .checkbox {
  margin-top: -15px; }

#follows .follows h6 {
  margin-top: 15px; }

.follows hr {
  margin-top: 10px; }
